*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    background-color: rgb(255, 213, 0);
    gap: 58%;
}

nav img{
    padding: 10px 60px;
}

.barra{
    display: flex;
    gap: 22%;
}

.barra li{
    padding-top: 28px;
    list-style: none;
}

.barra a{
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

.uno{
    display: flex;
}

.uno img{
    margin: 6%;
}

.unomini{
    margin: 9% 5% 0 3%;
}

.unomini h1{
    font-size: 70px;
}

.unomini p{
    font-size: 18px;
    padding: 20px 0;
}

.amarillo{
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(255, 213, 0);
    padding: 12px;
    margin: 20px 0;
    width: 30%;
    border: none;
}

.dos{
    display: flex;
    gap: 7%;
    background-color: rgb(221, 222, 223);
    margin: 10px 9% 0 10%;
    padding: 4%;
}

.dosmini{
    margin: 0 18% 0 0;
}

.dosmini h2{
    color: rgb(255, 206, 10);
    font-size: 50px;
}

.dosmini p{
    padding: 20px 0;
}

.sina{
    border: none;
    background-color: rgb(221, 222, 223);
    font-weight: bold;
    padding: 10px 0; 
    font-size:px;
}